



<section class="d-flex container justify-content-center align-items-center my-5">

 <section class=" row g-5 w-75 m-auto h-100 py-5  d-flex justify-content-between
  align-items-center  ">


<div id="chartsTask" class="bg-white col-md-5 rounded-4  shadow border 
 p-2" >

  <h2>Bookings
</h2>
    <canvas id="canvas">{{chart}}</canvas>
  </div>

 
    <div id="chartsTask" class="bg-white   col-md-5 rounded-4  shadow border  p-2">
      <h2>Rooms
    </h2>
        <canvas id="canvasM">{{chart}}</canvas>
      </div>
      <div id="chartsTask" class="bg-white  col-md-5 rounded-4  shadow border  p-2">
        <h2>Users 
      </h2>
          <canvas id="canvasU">{{chart}}</canvas>
        </div>
  </section>

  </section>
