.table-head{
    background-color: #E2E5EB;
    height: 88px;
    border-radius: 10px;

    & th{
        padding-block: 15px;
    }
}

.imageTable{
    width: 50px;
    height:50px;
    padding: 2px;
}
// -------------------
.titel{
color: #1F263E;
;
}