<h2>Card Example</h2>
<div [formGroup]="checkoutForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="name" formControlName="name" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Email" type="email" formControlName="email" />
  </mat-form-field>
  <ngx-stripe-elements
    [stripe]="stripe"
    [elementsOptions]="elementsOptions"
  >
    <ngx-stripe-card [options]="cardOptions" />
  </ngx-stripe-elements>
</div>
<button type="submit" (click)="createToken()">
  CREATE TOKEN
</button>