<footer class="site-footer">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <h3><span>Stay</span>cation.</h3>
                <p>We kaboom your beauty holiday<br> instantly and memorable.</p>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="ps-4">  For Beginners</h5>
                            <ul>
                                <li>New Account</li>
                                <li>Start Booking a Room</li>
                                <li>Use Payments</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5 class="ps-4">Explore Us</h5>
                            <ul>
                                <li>Our Careers</li>
                                <li>Privacy</li>
                                <li>Terms & Conditions</li>
                            </ul>
                            
                        </div>
                        <div class="col-md-4">
                            <h5 class="ps-4">Connect Us</h5>
                            <ul>
                                <li>support@staycation.id</li>
                                <li>021 - 2208 - 1996</li>
                                <li>Staycation, Kemang, Jakarta</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
      
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <p class=" text-center">Copyright 2019 • All rights reserved • 
                    <a  routerLink="" class="text-decoration-none">Staycation</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- <ul class="social-icons">
                    <li><a class="twitter" href="#">
                            <class [icon]="faTwitter"></class>
                        </a></li>
                    <li><a class="facebook" href="#">
                            <class [icon]="faFacebook"></class>
                        </a></li>
                    <li><a class="instagram" href="#">
                            <class [icon]="faInstagram"></class>
                        </a></li>



                </ul> -->
            </div>
        </div>
    </div>
</footer>