@import "../../../../../assets/styles/layout";

.sidebar {
  background-color: $bg-main;
  height: 100vh;
  padding: 1px;
  position: relative;
  ul {
    margin: 5rem 0;
  }
  li {
    width: 100%;
    margin: 2rem 0;
    padding: 0.5rem;
  }
  a {
    color: #fff;
    padding: 0.5rem;
  }
  .arrow-right {
    position: absolute;
    // width: 200px;
    // height: 200px;
    background-color: red;
    // left: 175px;
    // top: 50%;
    // transform: translate(50%, -100%);
  }
}
