@import "../../../../../assets/styles/layout";

.sidebar {
  background-color: $bg-main;
  height: 100vh;
  padding: 1px;
  ul {
    margin: 5rem 0;
  }
  li {
    width: 100%;
    margin: 2rem 0;
    padding: 0.5rem;
  }
  a {
    color: #fff;
    padding: 0.5rem;
  }
}
