  @import "../../../../../assets/styles/abstracts/sidebar";

  .bg-main-transparent{
    background-color: rgba(70, 146, 209, 0.237);
    color: white !important;
    border-radius: 3px;
 
}



.arrows {
  background-color:#3252df;
  position: absolute;
  right: -33px;
  top: 25px;
  width: fit-content;
  cursor: pointer;
  border-radius: 0px 70px 70px 0px;
  i {
    width: 25px;
    color: #fff;
    font-weight: 900;
  }
}