<section id="login" class="login-card">
  <div class="container-fluid">
    <div class="row mt-1">
      <div class="col-lg-6 my-1 pt-3 ps-5">
        <h3><span>Stay</span>cation.</h3>
        <div class="container mt-5 ms-5 pt-5 d-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-3">Sign in</h2>
              <p class="fs-5">If you don’t have an account register</p>
              <p class="fs-5 mb-3"> You can <a class="text-decoration-none fw-bold" routerLink="/auth/register">Register
                  here !</a></p>
            </div>

            <div class="auth-form">
              <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                <div class="my-1 ">
                  <label for="email">Email Address</label>
                  <input type="email" class="form-control mb-1" formControlName="email" id="email">
                  <div *ngIf="loginForm.controls['email'].touched&&loginForm.controls['email'].errors" class=" w-100 ">
                    <p class="text-danger" *ngIf="loginForm.controls['email'].errors['email']">
                      Email should be valid </p>
                    <p class="text-danger" *ngIf="loginForm.controls['email'].errors['required']">
                      Email is required</p>

                  </div>
                </div>
                <div>

                  <label for="password">Password</label>
                  <div class="position-relative mt-1">
                    <input [type]="!showPass ? 'password' : 'text'" formControlName="password" id="password"
                      class="form-control mb-1 ">
                    <div (click)="showPass = !showPass">
                      <span class="eye"><i
                          [class]="!showPass ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i></span>

                    </div>

                  </div>
                </div>

                <div *ngIf="loginForm.controls['password']?.errors && loginForm.controls['password']?.touched"
                  class="w-100 ">
                  <p class="text-danger" *ngIf="loginForm.controls['password']?.errors?.['required']">
                    Password is required</p>
                  <p class="text-danger" *ngIf="loginForm.controls['password']?.errors?.['pattern']">
                    Password must be contain special character</p>
                </div>

                <div class="w-75 text-end pe-2 pt-1 pb-4 ">
                  <a class="anchor-color" routerLink="/auth/forgot-password">Forget password</a>
                </div>

                <div class="my-3">
                  <button type="submit">Login</button>
                </div>



              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 my-1 ">
        <div class="position-relative">
          <img src="../../../../../../assets/images/login-img.png" width="100%" alt="" />
          <div class="layer">
            <h1>Sign in to Roamhome</h1>
            <p>Homes as unique as you.</p>
          </div>
        </div>
      </div>

    </div>
  </div>



</section>