<section id="login" class="login-card">
    <div class="container-fluid">
        <div class="row mt-3">
          <div class="col-lg-6 my-1 pt-3 ps-5">
            <h3><span >Stay</span>cation.</h3>
            <div
              class="container mt-5 ms-5 pt-5 d-flex justify-content-center align-items-center"
            >
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3">Sign in</h2>
                    <p class="fs-5">If you don’t have an account register/p>
                    <p class="fs-5 mb-3"> You can <a class="text-decoration-none fw-bold" 
                        routerLink="/auth/register">Register here !</a></p>
                  </div> 
  
                <div class="auth-form">
                    <form [formGroup]="loginForm"
                     (ngSubmit)="onLogin(loginForm)">
                        <div class="my-1 ">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control mt-1" 
                             formControlName="email" id="email">
                        </div>
                        <div>

                            <label for="password">Password</label>
                            <div class="position-relative mt-1">
                                <input type="password"
                                 formControlName="password" 
                                id="password" class="form-control ">
                                <!-- <span class="eye"><i class="fa-regular fa-eye"></i></span> -->
                            </div>
                        </div>
                        <div class="w-75 text-end pe-2 pt-2 ">
                            <a class="anchor-color"  routerLink="/auth/forgot-password">Forget password</a>
                        </div>
                        <div class="mt-5">
                            <button class="custom-btn" type="submit">Login</button>
                        </div>

                      

                    </form>
                </div>
            </div></div></div>
            <div class="col-lg-6 my-1 position-relative">
                <img
                  src="../../../../../../assets/images/login-img.png"
                  width="100%"
                  alt=""
                />
                <div class="layer">
                  <h1>Sign in to Roamhome</h1>
                  <p>Homes as unique as you.</p>
                </div>
              </div>
        
        </div>
    </div>
   
    

</section>
