<section id="forgot-password">
  <div class="container-fluid auth-form">
    <div class="row mt-1">
      <div class="col-lg-6 my-1 pt-3 ps-5">
        <h3><span>Stay</span>cation.</h3>
        <div class="container mt-5 ms-5 pt-5 d-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-5">Forgot password</h2>
              <p class="fs-5">If you already have an account register</p>
              <p class="fs-5 mb-5"> You can <a routerLink="/auth/login"
                  class=" fw-bold text-decoration-none text-danger">Login here !</a></p>
            </div>
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitForgotPassword(forgetPasswordForm)">
              <div class="form-group mt-3 ">
                <label class="mb-3" for="exampleInputEmail1">Email</label>
                <input formControlName="email" type="email" class="form-control  mb-1" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Please type here ......" />
                <div *ngIf="forgetPasswordForm.controls['email'].touched&&forgetPasswordForm.controls['email'].errors"
                  class=" w-100 ">
             <p class="text-danger" 
             *ngIf="forgetPasswordForm.controls['email'].errors['email']">
             Email should be valid </p>
             <p class="text-danger"
              *ngIf="forgetPasswordForm.controls['email'].errors['required']">
              Email is required</p>
            
         </div>
                
                </div>
                <div class="mt-5 position-fixed  btn-position">
                  <button class="mt-3 ">send mail</button>
                </div>
         
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-1 ">
          <div class="position-relative">
          <img
            src="../../../../../../assets/images/Rectangle 8.png"
            width="100%"
            alt=""
          />
          <div class="layer">
            <h1>Forgot password</h1>
            <p>Homes as unique as you.</p>
          </div>
        </div></div>
      </div>
    </div>
  </section>
  