@import "./../../../../../../assets/styles/layout";

section{
 
  
    span{
        color:$bg-main;
    }
  img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
  }

  .form-control{
    background-color: $bg-input-color;
    border: none;
    padding: 15px 10px;
    width:70%;
  }
   button{
    padding: 10px 14rem;
    margin-left: 20px;
}  
    .layer{
        position: absolute;
        bottom: 6.5rem;
        left:6rem;
        color: white;
        h1{
            font-size: 40px;
        }
    }
}
