@import"../../../../../assets/styles/abstracts/variables";
.profImg{
    
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    

   

}
.text-main{
    color: $bg-main;
}