


<section  id="AddEditFacilities" class="rounded-3 mx-4 my-2  ">
    <div class="container">
        <div class="container">

        </div>
        <div class="row  d-flex justify-content-between">
            <div class="col-9">
                <h3 class="ps-3 mt-4 mb-4 text-capitalize">{{data.action}} Facility</h3>
            </div>
            <div class="col-3 pt-3">
                <a (click)="onNoClick()" class="d-block text-end pt-1 ">
                    <i class="fa-regular fa-circle-xmark text-danger  fa-xl"></i>
                </a>
            </div>
          
        </div>
    
    </div>
 
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <mat-dialog-content class="mb-5">
   
                <div class="input-group mb-3">
                    <!-- [value]="data.action=='edit'?'ggggggggg':''" -->
                  <input
                    [(ngModel)]="key"
                   [value]="key"
                    type="name"
                    class="form-control pe-5 "
                    placeholder=" Name"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
               

              </mat-dialog-content>
          
              <hr>
              <mat-dialog-actions class="d-flex justify-content-end" >
                  
                      <button mat-button class="main fs-5 btn-second-bg-color px-3 text-white"
                       [mat-dialog-close]="key" cdkFocusInitial>
                     {{data.action}}
                        </button>
            
              </mat-dialog-actions>
        </div>

    </div>
 
</div>
    
   
  </section>
  