@import "../../../../../../../assets/styles/abstracts/buttons";

.form-control{
    background-color: rgba(247, 247, 247, 1);
    border: none;
    padding: 15px 5px;

   
}
section{
    padding: 10px 30px;
  
}
.h4{
    color: rgba(73, 73, 73, 1);
}
a{
    cursor: pointer;
}
