.is-img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img{
        width: 150px !important;
        height: 150px;
        
    border-radius: 50%;
    }
}