<section>
    <form class="auth-form" [formGroup]="registerRoomForm" (ngSubmit)="onSubmit(registerRoomForm)">
        <div class="container">
            <div class="row py-3 mt-5">
                <div class="col-8 m-auto">
                    <input type="text" class="form-control " formControlName="roomNumber" id="room"
                        placeholder="Room Number">
                </div>

            </div>
            <div class="row py-3 justify-content-center">
                <div class="col-4">
                    <input type="number" class="form-control " formControlName="price" id="Price" placeholder="Price">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control " formControlName="capacity" id="Capacity" placeholder="Capacity">
                </div>
            </div>
            <div class="row py-3 justify-content-center">
                <div class="col-4">
                    <input type="text" class="form-control " formControlName="discount" id="Discount" placeholder="Discount">
                </div>
                <div class="col-4">
                    <mat-form-field class="w-100">
                        <mat-label>Choose Facility</mat-label>
                        <mat-select formControlName="facilities" multiple (selectionChange)="getAllFacilities()">
                            <mat-option [value]="0">All</mat-option>
                            <ng-container *ngFor="let item of tableData" >

                                <mat-option [value]="item._id">
                                    <span >{{item.name}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div class="col-8 mx-auto">

                    <ngx-dropzone class="user-avatar" (change)="onSelect($event)" [multiple]="true">
                        <ngx-dropzone-label *ngIf="!imgSrc">
                            <i class="fa-solid fa-arrow-up-from-bracket d-block"></i> Upload
                        </ngx-dropzone-label>
                        <ngx-dropzone-label class="m-0" *ngIf="imgSrc">
                            <img [src]="imgSrc" class="w-50" alt="">
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                            *ngFor="let f of files" [removable]="true" [file]="f" (removed)="onRemove(f)">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>


                   
                </div>


            </div>
        </div>

        <hr class="mt-5">
        <div class="d-flex justify-content-end">
          <button class="mx-2 w-25" routerLink="/admin/room" type="button">Cancel</button>
          <button class=" w-25">Save</button>
        </div>

    </form>
</section>