@import "../../../../../../../assets/styles/layout";


.table-head{
    background-color: #e2e5eb;
    height: 50px;
    border-radius: 10px !important;
    
     
  
}
.table{
// border-radius: 20px !important;
}

tbody, td, tfoot, thead, tr {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    border-bottom: none;
}

th{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:10px ;

}
    
    

.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #ffffff  !important;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {

    --bs-table-bg-type: #fff !important;
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #e2e5eb50;
}
// .imageTable{
//     width: 50px;
//     height:50px;
//     padding: 2px;
// }
.button-mat-icon{
   
    box-shadow: none !important;
    color: black;
}

    .button-mat-menu{
        background-color: white !important;
        color: black;
    
    }
    .button-mat-menu:hover{
        background-color: red;
    }
    .button-mat-menu:active{
        background-color: rgb(48, 16, 16);
    }
    .mat-icon{
        color:$bg-main;
    }
   


span[_ngcontent-ng-c417407546] {
    color:rgba(31, 38, 62, 1);
    ;
}
.mat-mdc-menu-item .mat-icon-no-color, .mat-mdc-menu-item .mat-mdc-menu-submenu-icon {
    color: rgba(32, 63, 199, 1);
}


img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
  }