<section class="container-fluid py-3">

    <a class="text-end d-block myPointer my-3" (click)="onNoClick()"><i class="fa-regular fa-2x fa-circle-xmark text-danger"></i></a>

    <div class="text-center ">
        <div class="d-flex justify-content-center align-items-center">
            <h3 class="form-label m-3">Room Number  :  </h3>
            <h4>{{data.roomNumber}}</h4>
        </div>
        <hr>
        <div class="d-flex justify-content-center align-items-center">
            <h3 class="form-label m-3">price  :  </h3>
            <h4>{{data.price}}</h4>
        </div>
        <hr>
        <div class="d-flex justify-content-center align-items-center">
            <h3 class="form-label m-3"> Discount :  </h3>
            <h4>{{data.discount}}</h4>
        </div>
        <hr>
        <div class="d-flex justify-content-center align-items-center">
            <h3 class="form-label m-3"> Capacity :  </h3>
            <h4>{{data.capacity}}</h4>
        </div>
        <hr>
        <div class="d-flex justify-content-center align-items-center">
            <h3 class="form-label m-3"> Facilities :  </h3>
            <h4>{{ show(data.facilities)}}</h4>
        </div>
        
        
    </div>
    <div class="text-end">
        <button class="btn main text-white w-25" [mat-dialog-close]="data.id">Close</button>
    </div>
</section>

