
<section class="container p-3" >
    <a (click)="onNoClick()" class="d-block text-end my-pointer p-2">
        <i class="fa-regular fa-circle-xmark text-danger fa-2x"></i>
    </a>
    <div class="row p-3 ">
        <div class="col">
                <h3 class="pe-5">Room more details </h3>
                <hr>
            <div class=" w-100  mt-5 mb-5 mx-3">
                 <h6 class="py-2"><span class=" text-second fw-bold">Room Name:</span>{{data.roomNumber}}</h6>
                 <p class="py-2"><span class="text-second fw-bold">Room Capacity :</span> {{data.capacity}}</p>
                 <p class="py-2"><span class=" text-second fw-bold">Room Facilities :</span> {{ show(data.facilities)}}</p>
                 </div>
                 <hr>
                 
                 <p><span class="text-second fw-bold"> Price:</span>  {{data.price}}</p>
                 <p><span class="text-second fw-bold">Discount:</span>  {{data.discount}}</p>
            </div>
          
      </div>
  
 </section> 