@import "../../../../.././../assets/styles/layout";
[_nghost-ng-c2040221903] {
    padding: 10px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-right: 150px;
}
.group-input-design{
    width: 79.5%;
}
img{
    height: 120vh;
    margin-bottom: 10px;
}