#reset{
    background-color: #fff;
    height: 100vh;


    & span{
        color: cornflowerblue;
    }

    & img{
        width: 75%;
    }

    & h2,p,form{
        margin: 10px 110px;
    }

}

.field{
    position: relative;
}

.eye{
    position: absolute;
    bottom: 7px;
    right: 25px;
}
