<section id="reset-password">
  <div class="container-fluid auth-form">
    <div class="row mt-1">
      <div class="col-lg-6 my-1 pt-1 ps-5">
        <h2><span>Stay</span>cation.</h2>
        <div
          class="container  ms-5 pt-5 d-flex justify-content-center align-items-center"
        >
          <div class="row">
            <div class="col-12">
              <h2 class="mb-2">Reset Password</h2>
              <p class="fs-6">If you already have an account register</p>
              <p class="fs-6 mb-2">
                You can
                <a
                  routerLink="/auth/login"
                  class="text-decoration-none text-danger fw-bolder"
                  >Login here !</a
                >
              </p>
            </div>

            <div class="auth-form">
              <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
                <div>
                  <label for="email">Email Address</label>
                  <input
                    formControlName="email"
                    placeholder="Please type here ......"
                    type="email"
                    class="form-control"
                    id="email"
                  />
                  <div *ngIf="resetForm.controls['email'].touched&&resetForm.controls['email'].errors"
                  class=" w-100 ">
             <p class="text-danger mb-0" 
             *ngIf="resetForm.controls['email'].errors['email']">
             Email should be valid </p>
             <p class="text-danger mb-0"
              *ngIf="resetForm.controls['email'].errors['required']">
              Email is required</p>
            
         </div>
                </div>

                <div class="">
                  <label for="otp">OTP</label>
                  <input
                    formControlName="seed"
                    placeholder="Please type here ......"
                    type="text"
                    id="otp"
                    class="form-control"
                    required
                  />
                </div>
                <div 
                *ngIf="resetForm.controls['seed'].errors&&resetForm.controls['seed'].touched"
                 class=" w-100 ">
                  <p class="text-danger mb-0" 
                  *ngIf="resetForm.controls['seed'].errors['required']">OTP is required</p>
                 
              </div>
                <div>
                  <label for="password">Password</label>
                  <div class="position-relative">
                    <input
                      formControlName="password"
                      placeholder="Please type here ......"
                      type="password"
                      id="password"
                      class="form-control"
                    />
                    <!-- <span class="eye"><i class="fa-regular fa-eye"></i></span> -->
                    <div *ngIf="resetForm.controls['password']?.errors && resetForm.controls['password']?.touched" 
                    class="w-100 ">
                      <p class="text-danger mb-0" *ngIf="resetForm.controls['password']?.errors?.['required']">
                        Password is required</p>
                      <p class="text-danger mb-0" *ngIf="resetForm.controls['password']?.errors?.['pattern']">
                        Password must be contain special character</p>
                    </div>
                  </div>
                </div>

                <div class="">
                  <label for="confirm-password">Confirm Password</label>
                  <div class="position-relative">
                    <input
                      formControlName="confirmPassword"
                      placeholder="Please type here ......"
                      type="password"
                      id="confirm-password"
                      class="form-control"
                    />
                    <!-- <span class="eye"><i class="fa-regular fa-eye"></i></span> -->
                    <div *ngIf="resetForm.controls['confirmPassword']?.errors && resetForm.controls['confirmPassword']?.touched" 
                    class="w-100 ">
                      <p class="text-danger mb-0" *ngIf="resetForm.controls['confirmPassword']?.errors?.['required']">
                        Password is required</p>
                      <p class="text-danger mb-0" *ngIf="resetForm.controls['confirmPassword']?.errors?.['pattern']">
                        Password must be contain special character</p>
                    </div>
                  </div>
                </div>

                <div class="mt-5 position-fixed btn-position">
                  <button class="custom-btn" type="submit">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 my-1 ">
        <div class="position-relative">
        <img 
          src="../../../../../../assets/images/Rectangle 8.png"
          width="100%"
          alt=""
        />
        <div class="layer">
          <h1>Reset password</h1>
          <p>Homes as unique as you.</p>
        </div></div>
      </div>
    </div>
  </div>
</section>
