<section id="reset-password">
  <div class="container-fluid auth-form">
    <div class="row mt-2">
      <div class="col-lg-6 my-1 pt-1 ps-5">
        <h2><span>Stay</span>cation.</h2>
        <div
          class="container mt-1 ms-5 pt-5 d-flex justify-content-center align-items-center"
        >
          <div class="row">
            <div class="col-12">
              <h2 class="mb-3">Reset Password</h2>
              <p class="fs-6">If you already have an account register</p>
              <p class="fs-6 mb-3">
                You can
                <a
                  routerLink="/auth/login"
                  class="text-decoration-none text-danger fw-bolder"
                  >Login here !</a
                >
              </p>
            </div>

            <div class="auth-form">
              <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
                <div>
                  <label for="email">Email Address</label>
                  <input
                    formControlName="email"
                    placeholder="Please type here ......"
                    type="email"
                    class="form-control"
                    id="email"
                  />
                </div>

                <div class="my-2">
                  <label for="otp">OTP</label>
                  <input
                    formControlName="seed"
                    placeholder="Please type here ......"
                    type="text"
                    id="otp"
                    class="form-control"
                    required
                  />
                </div>

                <div>
                  <label for="password">Password</label>
                  <div class="position-relative">
                    <input
                      formControlName="password"
                      placeholder="Please type here ......"
                      type="password"
                      id="password"
                      class="form-control"
                    />
                    <!-- <span class="eye"><i class="fa-regular fa-eye"></i></span> -->
                  </div>
                </div>

                <div class="my-2">
                  <label for="confirm-password">Confirm Password</label>
                  <div class="position-relative">
                    <input
                      formControlName="confirmPassword"
                      placeholder="Please type here ......"
                      type="password"
                      id="confirm-password"
                      class="form-control"
                    />
                    <!-- <span class="eye"><i class="fa-regular fa-eye"></i></span> -->
                  </div>
                </div>

                <div class="mt-5">
                  <button class="custom-btn" type="submit">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 my-1 position-relative">
        <img
          src="../../../../../../assets/images/forget-Password-img.svg"
          width="100%"
          alt=""
        />
        <div class="layer">
          <h1>Reset password</h1>
          <p>Homes as unique as you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
