<section id="design-auth" class="p-3 ">
    <h2>Stay<span>cation.</span></h2>
    <div class="container">
        <div class="row  ">
            <div class="col-md-6">
                <div class="auth-form p-5">
                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
                        <h3>Reset Password</h3>
                        <div class="my-3">
                            <p class="m-0 p-0 ">If you already have an account register </p>
                            <p class="m-0 p-0 ">You can <a routerLink="/auth/login"><span
                                        class="text-danger fw-bold ">Login her
                                        !</span></a></p>
                        </div>

                        <div>
                            <label for="email">Email Address</label>
                            <input formControlName="email" type="email" class="form-control " id="email">
                        </div>

                        <div class="my-2">
                            <label for="otp">OTP</label>
                            <input  formControlName="seed" type="text" id="otp" class="form-control " required>
                        </div>

                        <div>
                            <label for="password">Password</label>
                            <div class="position-relative ">
                                <input  formControlName="password" type="password" id="password" class="form-control ">
                                <span class="eye"><i class="fa-regular fa-eye"></i></span>
                            </div>
                        </div>

                        <div class="my-2">
                            <label for="confirm-password">Confirm Password</label>
                            <div class="position-relative ">
                                <input formControlName="confirmPassword" type="password" id="confirm-password" class="form-control ">
                                <span class="eye"><i class="fa-regular fa-eye"></i></span>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button class="custom-btn" type="submit">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6  ">
                <img class="ms-3" src="../../../../../../assets/images/background-reset-pass.png" alt="">

            </div>
        </div>
    </div>


</section>