<!-- <section id="home">
   <div class="container">
    <div class="row">
        <h2>
            Forget Busy Work,
            Forget Busy Work,
        </h2>
        <p>
            We provide what you need to enjoy your holiday with family. Time to make another memorable moments.
        </p>
        <div class="date">
    
        </div>
        <button>
            explore
        </button>
    </div>
   </div>
</section> -->

<div class="card">
    <img src="../../../../../assets/images/landing-page-home.png" alt="">
    <div class="layer-price">
        <p class="text-white "><span class="fw-bold ">$22</span> per night</p>
    </div>
    <div class="layer-description">
        <p>Ocean Land</p>
        <p>Bandung, Indonesia</p>
    </div>

</div>