.t-dark{
    color: #152C5B;
}
.bg-dark{
    background-color: #152C5B;
}
.bg-mainColor{
    background-color: #3252DF;
}
.t-mainColor{
    color: #3252DF;
}

#is-login{

p{
    line-height: 35px;
}

}
.authForm{
input{
 background-color: #D3D6DC
}

::placeholder{
    color:rgb(171, 174, 182);
}


}
.bgAuth{
    background-image: url(../../../../../assets/image/bgLogin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // border: 2px solid black;
    border-radius: 15px;
}



.mainBtn{
    background-color: #3252DF;
    padding: 20px 15px;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border-radius: 4px;
    border: none;
    width: 100%;
    color: white;
    font-size: 18px;
   
}
