
<section class="container-fluid  p-3" id="is-login">
<section class="row justify-content-between align-items-center">

<section class="col-md-5  ms-md-5 t-dark mb-5">
<section class="auth-title w-50 mb-3">
    <h2 class="text-black mb-3">Sign in</h2>
<p class="text-dark mb-3">If you don’t have an account register
    You can   <span class="fw-semibold t-dark px-1">Login !</span></p>
</section>



    <div class="authForm">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
<div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
        type="email"
        class="form-control "
        name="email"
  
        placeholder="Please enter email"
        formControlName="email"
    />
    
</div>

<div class="mb-3">
    <label for="passw" class="form-label">Password</label>
    <input
        type="password"
        class="form-control"
        name="passw"
       
        placeholder="Please enter password"
        formControlName="password"
    />
</div>
<h5 class="text-end p mb-5">
    <a >Forgot Password ?</a>

</h5>


<button class="mainBtn ">Login</button>

        </form>
    </div>

</section>

<section class="col-md-6">
<div class="bgAuth">

</div>
</section>

</section>
</section>