// @import "../../../../../assets/styles/layout";

button{
    padding: 10px 2.5rem !important;
     background-color:#3252df !important;
     color: white !important;
     box-shadow: none !important;
}
.imgSizeSmall{
    width: 500px;
}
.imgSizeLarge{
    width: 650px;
}

.example-form-field {
    margin: 0 8px 16px 0;
  }