<div class="titel text-center">
    <h2 [style.color]="true?'#152C5B':''">Explore ALL Rooms </h2>

</div>



<section class="py-5">
    <app-landing class="py-5" [totalCountL]="totalCount" [landingItem]="totalCard" [landPge]="isPge"
        [landingRoom]="myFun">
    </app-landing>


</section>
<div *ngIf="totalCard.length>0" class="mb-5 py-3 ">


    <mat-paginator class="w-50  m-auto " [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>

</div>