<section *ngIf="landingItem.length>0" class="container" id="landing">
    <h4 class="mb-4" [style.color]="true?'#152C5B':''">{{landPge}}</h4>

    <section class="row gy-4">
        <section *ngFor="let item of landingItem" class="col-md-4">
            <section class="item ">

                <img *ngIf="item.images.length !=0" [src]="item.images[0]" alt="" class="">
                <img *ngIf="item.images.length ==0" src="../../../../assets/images/login-img.png " alt="" class="">



                <div class="item-content text-white text-start ">
                    <h5 class="fw-light"> {{item.roomNumber}}</h5>
                    <p class="" >
                          <span *ngFor="let fac of item.facilities" class="">{{fac.name }}  </span>
               
                    </p>
                    <p *ngIf="item.facilities.length==0">facilities</p>
                </div>
                <div class="item-layer">
                    <p class="mt-2">${{item.discount }} per night</p>
                </div>




            </section>
        </section>
    </section>










</section>



<div *ngIf="landingItem.length==0" >
    <div class="text-center w-50 vh-50 m-auto ">
        <img src="./assets/images/no-data.avif" width="100%" height="40%" alt="">
        <h4 class="my-3">No Data</h4>
   </div>
 </div>