[_nghost-ng-c2040221903] {
  width: 150px !important;
  height: 100px !important;
  margin: 0 auto 1rem auto;
  color: #8b8686;
  background-color: transparent !important;
  cursor: pointer;
  color: #9c9c9c !important;
  border: none !important;
  border-radius: none !important;
  font-size: 16px !important;
  overflow-x: unset !important;
}
[_nghost-ng-c3821590306] img[_ngcontent-ng-c3821590306] {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
}
