$text-second: #152c5b;
$bg-main: #3252df;
$bg-input-color: #f5f6f8;
$bg-layer: rgba(26, 27, 30, 0.17);

.text-second {
  color: $text-second;
}

.text-main {
  color: $bg-main;
}

.bg-layer-active {
  background-color: $bg-layer;
  color: rgba(255, 255, 255, 0.17);
}
