<section id="rooms">
    <div class="container">
        <div class="row ps-4 pt-5 ">
         <div class="col-lg-6 col-md-6 col-sm-12">
             <h4 class="fw-bold">Rooms Table Details</h4>
             <p>You can check all details</p>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12 text-end">
             <button [routerLink]="'add'"  class="px-5 py-2 btn-second-bg-color"> Add New room</button>
         </div>
        </div>
     </div>

    
     <div class="container">
        <div class="row ps-4 pt-5 align-items-center ">
        <div class="col-9">

            <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-magnifying-glass"></i></span> -->
                <input [(ngModel)]="searchKey" (keyup.enter)="getAllrooms()" type="text" class="form-control"
                    placeholder="Search By number" aria-label="Username" aria-describedby="basic-addon1">

            </div>
        </div>

        <div class="col-3 ps-4 text-end">
            <mat-form-field class="ps-3">
                <mat-label>Choose Facility</mat-label>
                <mat-select multiple>
                    <mat-option *ngFor="let item of facilities" [value]="item._id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        </div>
    </div>

    <div  class="container " *ngIf="tableData.length> 0 " >
        <div class="row ps-4 pe-2 mt-5  ">
            <table class="table table-head rounded-3 table-striped  ps-4  ">
                
                    <thead class="  bg-head fs-5  rounded-3" >
                <th>room Number</th>
                <th>Image</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Capacity</th>
                <th>Facilicty</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData">
                    <td>{{item.roomNumber}}</td>
                    <td>
                        <img class="imageTable" *ngFor="let element of item.images" [src]="element" alt="">
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.discount}}</td>
                    <td>{{item.capacity}}</td>
                    <td>{{ show( item.facilities)}}</td>
                   <!-- <td *ngFor="let element of item.facilities">
                        {{element.name}}
                    </td>-->
                    <td><button mat-icon-button
                        class="   button-mat-icon button-menu button-mat-menu bg-white"
                        [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon class="   text-black">more_horiz</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="bg-white button-menu button-mat-menu">
                            <button class="button-mat-icon button-menu button-mat-menu" 
                             mat-menu-item (click)="openRoomsDetailes(item)">
                                <mat-icon class="bg-white button-menu button-mat-menu"  >visibility</mat-icon>
                                <span class="span-color">View</span>
                            </button>
                            <button
                            class="button-mat-icon bg-white button-menu button-mat-menu" 
                             mat-menu-item [routerLink]="['edit',item._id]">
                                <mat-icon 
                                class="bg-white button-mat-menu button-menu"
                                >edit_square</mat-icon>
                                <span class="span-color">Edit</span>
                            </button>
                            <button 
                            class="button-mat-icon bg-white button-menu button-mat-menu" 
                            mat-menu-item (click)="openDeleteRoomDialog(item)">
                                <mat-icon 
                                class="bg-white button-mat-menu button-menu"
                                >delete</mat-icon>
                                <span class="span-color">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>

            </tbody>
        </table>

</div>
</div>

<div *ngIf="tableData.length==0">
    <div class="text-center w-50 vh-50 m-auto ">
       <img src="../../../../../../../assets/images/no-data.avif" width="100%" height="40%" alt="">
        <h4 class="my-3">No Data</h4>
   </div>
 </div>

</section>